# SERVER
HOST=127.0.0.1
PORT=3000
CORS_ORIGIN=*


# DATABASE - MYSQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=
DB_DIALECT=mysql
DB_SSL=


# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=
SMTP_FROM=


# AUTH
JWT_SECRET= 

# Password reset token
RESET_TOKEN_EXPIRES_IN=10m

# OTP
OTP_EXPIRY_MINUTES=10


# INITIAL SUPERADMIN
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
SUPERADMIN_FIRST_NAME=
SUPERADMIN_LAST_NAME=